<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <title>Страница филиалов</title>
</head>
<body>
<!--branches page-->
<div class="wrapper">
    <header class="header">
        <div class="container">
            <a href="index.html" class="logo flex g2">
                <span class="logo-text">Э</span>
                <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z"/></svg>
                <span class="logo-text">
                    ектроЭкоДрайв
                </span>
            </a>
            <nav class="flex g20">
                <a href="#" class="link">Акции</a>
                <a href="booking.html" class="link">Бронирование</a>
                <a href="profile.html" class="link">Личный кабинет</a>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="branches">
            <div class="container">
                <div class="grid f3">
                    <div class="branch-item" data-name="kras">
                        <div class="image" data-name="kras">
                            <img src="../public/assets/images/maps/Kras.png" alt="map" data-name="kras">
                        </div>
                        <div class="price-box" data-name="kras">
                            <h3 data-name="kras">Красноярск</h3>
                        </div>
                    </div>
                    <div class="branch-item" data-name="moscow">
                        <div class="image" data-name="moscow">
                            <img src="../public/assets/images/maps/Moskow.png" alt="map" data-name="moscow">
                        </div>
                        <div class="price-box" data-name="moscow">
                            <h3 data-name="moscow">Москва</h3>
                        </div>
                    </div>
                    <div class="branch-item" data-name="novos">
                        <div class="image" data-name="novos">
                            <img src="../public/assets/images/maps/Novos.png" alt="map" data-name="novos">
                        </div>
                        <div class="price-box" data-name="novos">
                            <h3 data-name="novos">Новосибирск</h3>
                        </div>
                    </div>
                </div>
                <div class="grid f2 mt20">
                    <div class="branch-item" data-name="piter">
                        <div class="image" data-name="piter">
                            <img src="../public/assets/images/maps/Piter.png" alt="map" data-name="piter">
                        </div>
                        <div class="price-box" data-name="piter">
                            <h3 data-name="piter">Питер</h3>
                        </div>
                    </div>
                    <div class="branch-item" data-name="tomsk">
                        <div class="image" data-name="tomsk">
                            <img src="../public/assets/images/maps/tomsk.png" alt="map" data-name="tomsk">
                        </div>
                        <div class="price-box" data-name="tomsk">
                            <h3 data-name="tomsk">Томск</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-bc">
                <div class="card">
                    <h3>Выбрать машину</h3>

                    <div class="machines-box mt40">
                        <div class="mbox-item" id="kras">
                            <div class="grid f2">
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/car.-png-Images-Free-Transparent.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Random s-haizer</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Красноясрк</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/car.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Merc m23</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Красноясрк</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/toppng.com-acura-nsx-car-import-cars-my-dream-car-dream-cars-honda-civic-2018-sports-car-2010x855.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Ford focus m23</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Красноясрк</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/PNGPIX-COM-Buick-Avista-Blue-Car-PNG-Image.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Niki m23</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Красноясрк</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="mbox-item" id="moscow">
                            <div class="grid f2">
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/car.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Tayota m23</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Москва</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/toppng.com-acura-nsx-car-import-cars-my-dream-car-dream-cars-honda-civic-2018-sports-car-2010x855.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Cocos m-234</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Москва</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/car.-png-Images-Free-Transparent.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Ananas e3</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Москва</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mbox-item" id="piter">
                            <div class="grid f2">
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/toppng.com-acura-nsx-car-import-cars-my-dream-car-dream-cars-honda-civic-2018-sports-car-2010x855.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Bmw pro</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Питер</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/PNGPIX-COM-Buick-Avista-Blue-Car-PNG-Image.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Boomer s8</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Питер</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/car.-png-Images-Free-Transparent.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Lada largus</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Питер</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mbox-item" id="novos">
                            <div class="grid f2">
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/car.-png-Images-Free-Transparent.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Tayota m23</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Новосибирск</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/toppng.com-acura-nsx-car-import-cars-my-dream-car-dream-cars-honda-civic-2018-sports-car-2010x855.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>HyperMachine ee3</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Новосибирск</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/car.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Lexus ase7</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Новосибирск</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mbox-item" id="tomsk">
                            <div class="grid f2">
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/car.-png-Images-Free-Transparent.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Tayota m23</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Томск</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/PNGPIX-COM-Buick-Avista-Blue-Car-PNG-Image.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Merc benz</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Томск</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card booking-item shadow">
                                    <div class="grid f3f1">
                                        <div class="contain-image">
                                            <img src="../public/assets/images/cars/toppng.com-acura-nsx-car-import-cars-my-dream-car-dream-cars-honda-civic-2018-sports-car-2010x855.png" alt="image">
                                        </div>
                                        <div class="vertical">
                                            <h3>Tesla pro</h3>
                                        </div>
                                    </div>
                                    <div class="vertical g10 mt20">
                                        <div class="flex g10">
                                            <div class="bold">Филиал:</div>
                                            <div class="value">Томск</div>
                                        </div>
                                        <div class="flex sb aic mt20">
                                            <button class="btn f">Выбрать</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right flex g5 mt20">
                        <button class="btn reverse" id="cancel">Отмена</button>
                        <button class="btn" id="confirm">Выбрать</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer white-bc">
        <div class="container">
            <div class="flex sb">
                <a href="tel:88001111111" class="link">8 (800) 111-11-11</a>
                <nav class="flex g20">
                    <a href="#" class="link">Акции</a>
                    <a href="booking.html" class="link">Бронирование</a>
                    <a href="profile.html" class="link">Личный кабинет</a>
                </nav>
            </div>
        </div>
    </footer>
</div>
<script src="../public/assets/js/branches.js"></script>
</body>
</html>
